* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  font-family: "Bebas Neue", cursive;
  overflow-x: hidden;
}

@media (max-width: 700px) {
  body {
    background-image: url("./assets/wallpaper2.jpg");
    background-position: center;
  }
}
