* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
